.position{
    position: absolute;
}

.img-candel{
    width: 22%;
    height: 40%;
}

.img-amazon{
    width: 200px;
    height: 100px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

.img-stars{
    width: 100px;
    height: 50px;
}

.rating{
    cursor: pointer;
}

.saving{
    cursor: pointer;
    background-color: red;
}

.the-price{
    color: rgb(158, 38, 38);
    font-size: 20px;
}

.candels{
    width: 8%;
    height: 12%;
    cursor: pointer;
}

.pack1{
    margin: 1px;
    padding: 0.5px;
    border: 1px solid rgb(181, 194, 201);
}

.packs2{
    color: gray;
    margin: 1px;
    padding: 0.5px;
    border: 1px solid rgb(181, 194, 201);
}

.count{
    color: rgb(158, 38, 38);
}

.location{
    cursor: pointer;
    color: rgb(64, 64, 243);
}

.loc-img{
    width: 2%;
    height: 5%;
}

.in-stock{
    color: green;
}

